:root {
    --color-primario: rgb(58, 58, 58);
    --color-primario-claro: rgba(0, 0, 0, 0.5);
    --color-primario-ultra-claro: rgba(0, 0, 0, 0.1);
    --color-secundario: rgb(255, 255, 255);
    --color-terciario: rgba(184, 184, 184, 0.5);
    --color-terciario-claro: rgba(184, 184, 184, 0.2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hamburguer-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primario-claro);
    z-index: 1000;

    transition-delay: 0.5s;
    transition: left 0.5s ease, opacity 0.5s ease;
}

#hamburguer-menu.deployed {
    left: 0;
}

#menu {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--color-secundario);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-primario-claro);
    display: flex;
    flex-direction: column; 
    align-items: center;
    overflow: auto;
}

#menu li {
    border-bottom: 1px solid var(--color-primario-ultra-claro);
    text-align: center;
    width: 100%;
    box-sizing: border-box;


    &:last-child {
        border-bottom: none;
    }

    & a {
        padding: 20px;
        text-decoration: none;
        color: var(--color-primario);
        font-size: 1.5rem;
        width: 100%;
        display: block;

    }
}

#menu li:hover {
    background-color: var(--color-primario-ultra-claro);
}

#menu-deployer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

#deployer {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

#deployer.deployed::before {
    content: "Des";
}

#deployer:hover {
    background-color: var(--color-primario-claro);
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    & article {
        width: 100%;
        max-width: 800px;
        min-height: 350px;
        margin: 20px 0;
        padding: 20px;
        background-color: var(--color-secundario);
        border-radius: 10px;
        box-shadow: 0 0 10px var(--color-primario-claro);

        & h2 {
            color: var(--color-primario);
            font-size: 2rem;
            margin-bottom: 10px;
        }

        & h3 {
            color: var(--color-primario);
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        & p {
            color: var(--color-primario);
            font-size: 1.5rem;
        }
    }
}

header {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

html {
    scroll-behavior: smooth;
}


#section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .buttons {
        display: flex;
        align-items: center;
        margin-top: 20px;
        flex-wrap: wrap;


        & button {
            display: block;
            background-color: var(--color-primario);
            color: var(--color-secundario);
            padding: 10px 20px; 
            border: none; 
            border-radius: 10px;
            font-size: 1.3rem; 
            margin: 10px;
            cursor: pointer;
        }

        & button:hover {
            background-color: var(--color-primario-claro);
        }

        & button:disabled {
            background-color: var(--color-primario-ultra-claro);
            cursor: not-allowed;
        }
    }

    & #clock {
        display: none;
        font-size: 3rem;
        margin: 20px;
    }

    & #clock.active {
        display: block;
    }
}

#canvas {
    width: 100%;
    height: 400px;
    border: 1px solid var(--color-primario);
    background-color: var(--color-primario);
    border-radius: 10px;
}

.comandos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;

    & span {
        color: var(--color-primario);
        font-size: 1.5rem;
        margin: 10px;
    }

    & .title {
        font-weight: bold;
    }

    & .key {
        display: flex;
        padding: 10px;
        color: var(--color-secundario);
        background-color: var(--color-primario);
        border-radius: 10px;
    }

    & .key.active {
        background-color: var(--color-secundario);
        color: var(--color-primario);
    }
}

#time-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    min-height: 50px;
    overflow: hidden;
    background-color: var(--color-primario);
    padding: 10px;



    margin: 20px;
    font-weight: bold;


    & .text {
        font-size: 2rem;
        color: var(--color-secundario);
        font-weight: normal;
        margin-right: 10px;
    }
}

.bottom-botons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;

    width: 100%;


    & button {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 1.5rem;

        background-color: var(--color-terciario-claro);
        color: var(--color-primario);
        padding: 10px 20px;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;

        backdrop-filter: blur(2px);
        box-shadow: 0 0 20px var(--color-terciario-claro);

        transition: background-color 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    }

    & button:hover {
        background-color: var(--color-terciario);
    }

    & button.hidden {
        visibility: hidden;
        opacity: 0;
        cursor: not-allowed;
    }
}
/* input[type="checkbox"]  */
.dark-light-mode{
    display: none;
}

/* label of checkbox */
.label-dark-light{
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}



/* input[type="checkbox"]:checked + label */

